<h2>Nueva Reserva</h2>

<form>
  <div class="form-item">
    <label for="FechaInicio">Fecha Reserva:</label>
    <input type="date" id="FechaInicio" required>
  </div>

  <div class="form-item">
    <label for="FechaFin">Fecha Fin:</label>
    <input type="date" id="Fecha Fin" required>
  </div>



  <div class="form-item">
    <label for="motivo">Motivo Reserva:</label>
    <input type="textarea" id="motivo" required>
  </div>

  <!--<div class="form-item">
    <label for="motivo">Motivo Rechazo:</label>
    <input <type="textarea" id="motivo" required>
  </div> -->

  <div class="form-item">
    <label for="capRequerida">Capacidad Requerida:</label>
    <input type="number" id="capRequerida	" required>
  </div>

  <!-- Lo traemos del back
  <div class="form-item">
    <label for="estado">Estado:</label>
    <select id="estado" required>
      <option value="en-proceso" selected disabled>En Proceso</option>
    </select>
  </div>
-->

<div class="form-item">
  <label for="Espacio">Espacio:</label>
  <select id="Espacio" required>
    <option *ngFor="let espacio of espacios" [value]="espacio">{{ espacio }}</option>
  </select>
</div>

<div class="form-item">
  <label for="Reservante">Reservante:</label>
  <select id="Reservante" required>
    <option *ngFor="let reservante of reservantes" [value]="reservante">{{ reservante }}</option>
  </select>
</div>

  <br>
  <button type="submit">Confirmar mi reserva</button>
</form>
