<p>nuevo-espacio works!</p>
<h2>Nuevo Espacio</h2>

<form>
  <div class="form-item">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" required>
  </div>

  <div class="form-item">
    <label for="capacidadMaxima">Capacidad Máxima:</label>
    <input type="number" id="capacidadMaxima" required>
  </div>

  <!--BACK: Selección de Ala-->
  <div class="form-item">
    <label for="ala">Selección de Ala:</label>
    <select id="ala" required>
      <option value="ala" selected disabled>ALA 1</option>
    </select>
  </div>

  <!--BACK: Seleccion de Recurso-->

  <div class="form-item">
    <label for="recurso">Recursos del Espacio</label>
    <input type="text" id="recurso" required />
  </div>

  <!--
  <div class="form-item">
    <label for="estado">Estado:</label>
    <select id="estado" required>
      <option value="estado" selected disabled>Disponible</option>
    </select>
  </div>
-->

  <button type="submit">Guardar</button>
</form>
