

<div class="container">
  <router-outlet></router-outlet>
  <button class="btn-nuevo-espacio" (click)="redirigirANuevoEspacio()" >Nuevo Espacio</button>
  <button class="btn-modificar-espacio" (click)="redirigirAListadoDeEspacios()" >Listado de Espacios</button>
  <button class="btn-nuevo-reservante" (click)="redirigirANuevoUsuario()">Nuevo Usuario (Registrarme) </button>
  <button class="btn-modificar-usuario" (click)="redirigirAListadoDeReservantes()">Listado de Usuarios</button>
  <button class="btn-nueva-reserva" (click)="redirigirANuevaReserva()">Nueva Reserva</button>
  <button class="btn-modificar-reservas" (click)="redirigirAListadoDeReserva()">Listado de Reservas</button>

</div>

<app-footer></app-footer>


