<h2>Modificar Reservante</h2>

<form class="form-inline">
  <div class="form-item form-group">
    <label for="filtroLegajo">Filtrar por Legajo UTN:</label>
    <input type="text" id="filtroEspacio" name="filtroLegajo" class="form-control">
  </div>
  <br>
  <button type="submit" class="btn btn-primary">Buscar</button>

  <div class="form-item form-group">
    <label for="filtroDNI">Filtrar por DNI:</label>
    <input type="text" id="filtroDNI" name="filtroDNI" class="form-control">
  </div>
  <br>
  <button type="submit" class="btn btn-primary">Buscar</button>
</form>
<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Legajo UTN</th>
      <th>DNI</th>
      <th>Email</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>
        <button type="button" class="btn btn-primary">Modificar</button>
        <button type="button" class="btn btn-danger">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>
